@font-face {
  font-family: "Azo";
  src: url("./AzoSans-Medium.woff2") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Azo";
  src: url("./AzoSans-Regular.woff2") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Graphik";
  src: url("./GraphikXCond-Bold.otf") format("opentype");
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.signal a:hover {
  text-decoration: underline;
}

.menu {
  width: 95vw;
  max-width: 1440px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.menu .logo {
  height: 55px;
}
.menu .logo img {
  height: 55px;
  width: 100%;
}
.menu div {
  display: flex;
  width: auto;
  margin-right: 14px;
}
.menu div a {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 30px;
  font-weight: 400;
  font-size: 20px;
  border-bottom: 3px solid transparent;
  transition: all 0.4s ease;
}
.menu div a:hover, .menu div a.active {
  border-bottom: 4px solid black;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Azo";
  background-color: #fff;
  color: #000;
  font-weight: 300;
}

h1 {
  text-transform: uppercase;
  font-size: 64px;
  margin: 0;
  font-family: "Graphik";
  max-width: 900px;
  line-height: 1.1;
  max-width: 95%;
}

h2 {
  text-transform: uppercase;
  font-size: 64px;
  margin: 0 auto;
  font-family: "Graphik";
  max-width: 900px;
  line-height: 1;
  display: block;
}

h3 {
  font-family: "Azo";
  font-size: 48px;
  line-height: 1;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  max-width: 95%;
  width: 900px;
  text-align: left;
  font-weight: 300;
  line-height: 1.4;
}

p {
  font-size: 24px;
  max-width: 95%;
  width: 900px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #000;
}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  text-align: center;
}

.wp-block-image img {
  width: 100%;
  height: auto;
}

.icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 0px auto;
  position: absolute;
  right: 14px;
  top: 14px;
}

.signal {
  position: relative;
  border: 1px solid #000;
  text-align: left;
  padding: 24px 24px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
}
.signal div:nth-child(1) {
  width: 100%;
  max-width: 500px;
}
.signal div:nth-child(2) {
  width: auto;
  max-width: 500px;
}
.signal div p {
  margin-top: 14px;
  font-size: 18px;
  padding-top: 14px;
  width: 100%;
  max-width: 100%;
  border-top: 1px solid #000;
}
.signal div h3 {
  margin: 0;
  width: calc(100% - 60px);
  display: inline-block;
}

.section {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.hero-sequence {
  height: 800vh;
  width: 100%;
}

.hero-sequence2, .hero-sequence3 {
  height: 500vh;
}

.hero-sequence4 {
  height: 200vh;
}

.sticky-element {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sequence-element {
  max-width: 100%;
  max-height: 100%;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

.hero {
  height: 110vh;
}
.hero img {
  width: auto;
  max-width: 100%;
  position: absolute;
  height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  margin-top: 25vh;
  text-align: center;
}
.hero #section-1, .hero #philanthropy-section-6 {
  position: absolute;
  top: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero #section-1 p, .hero #philanthropy-section-6 p {
  margin: 0;
  margin-top: 14px;
  background-color: #fff;
}
.hero #section-1 p:last-child, .hero #philanthropy-section-6 p:last-child {
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 25px;
  position: fixed;
  bottom: 20vh;
  transform: scale(0);
}

.hero #philanthropy-section-6 h2 {
  padding-bottom: 24px;
}

.aos-animate #section-1 p:last-child {
  animation-name: msg1;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes msg1 {
  0% {
    margin-top: 50vh;
    transform: scale(0);
  }
  100% {
    margin-top: 0;
    transform: scale(1);
  }
}
@keyframes msg2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.section2 {
  background-color: #f2f2f2;
  height: 130vh;
  justify-content: center;
  padding-top: 10vh;
}
.section2:before {
  content: "";
  background: url(./images/hero-wave.svg);
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -5px;
  z-index: 999;
  transform: scale(-1);
}

#section-2 {
  max-width: 100vw;
  overflow-x: hidden;
}
#section-2 p {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 25px;
}
#section-2 h2 {
  text-align: center;
  background-color: #f2f2f2;
}
#section-2 p:nth-child(2) {
  width: 900px;
  display: block;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
#section-2 a {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  text-decoration: none;
  margin: 14px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: scale(0) translate(-50%, -50%);
  white-space: nowrap;
  z-index: -1;
}

.aos-animate #section-2 h3 {
  transform: scale(1);
  animation-delay: 6s;
  animation-name: animation2;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  text-align: center;
  width: 100%;
}

.aos-animate #section-2 a:nth-child(1) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(2) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(3) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(4) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(5) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(6) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(7) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.4s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(8) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(9) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(10) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(11) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.2s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(12) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(13) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.6s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(14) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.8s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(15) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(16) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3.2s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(17) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3.4s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(18) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3.6s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(19) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3.8s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(20) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-2 a:nth-child(1) {
  top: 25vh;
  left: 10vw;
}

.aos-animate #section-2 a:nth-child(2) {
  top: 80vh;
  left: 20vw;
}

.aos-animate #section-2 a:nth-child(3) {
  left: 60vw;
  top: 40vh;
}

.aos-animate #section-2 a:nth-child(4) {
  top: 100vh;
  left: 80vw;
}

.aos-animate #section-2 a:nth-child(5) {
  top: 60vh;
  left: 20vw;
}

.aos-animate #section-2 a:nth-child(6) {
  left: 10vw;
  top: 30vh;
}

.aos-animate #section-2 a:nth-child(7) {
  left: 80vw;
  top: 80vh;
}

.aos-animate #section-2 a:nth-child(8) {
  left: 80vw;
  top: 50vh;
}

.aos-animate #section-2 a:nth-child(9) {
  left: 50vw;
  top: 100vh;
}

.aos-animate #section-2 a:nth-child(10) {
  left: 40vw;
  top: 30vh;
}

.aos-animate #section-2 a:nth-child(11) {
  left: 50vw;
  top: 90vh;
}

.aos-animate #section-2 a:nth-child(12) {
  left: 30vw;
  top: 100vh;
}

.aos-animate #section-2 a:nth-child(13) {
  left: 20vw;
  top: 110vh;
}

.aos-animate #section-2 a:nth-child(14) {
  left: 80vw;
  top: 110vh;
}

.aos-animate #section-2 a:nth-child(15) {
  left: 90vw;
  top: 50vh;
}

.aos-animate #section-2 a:nth-child(16) {
  left: 70vw;
  top: 40vh;
}

.aos-animate #section-2 a:nth-child(17) {
  left: 60vw;
  top: 30vh;
}

.aos-animate #section-2 a:nth-child(18) {
  left: 90vw;
  top: 20vh;
}

#section-3 {
  position: absolute;
  top: 0;
  margin-top: 40px;
  width: 100vw;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  left: 0;
}
#section-3 p {
  width: 100%;
}
#section-3 a {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  text-decoration: none;
  margin: 14px;
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: #15B3C3;
  transform: scale(0) translate(-50%, -50%);
  white-space: nowrap;
}

.aos-animate #section-3 h3 {
  transform: scale(0);
  animation-delay: 6s, 12s;
  animation-name: animation;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  text-align: center;
  width: 100%;
}

.aos-animate #section-3 a:nth-child(1) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(2) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.4s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(3) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(4) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(5) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(6) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.2s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(7) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(8) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.6s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(9) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.8s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(10) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(11) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3.2s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(12) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3.4s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(13) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3.6s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(14) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3.8s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(15) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(16) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 4.2s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(17) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 4.4s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(18) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 4.6s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(19) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 4.8s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(20) {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.aos-animate #section-3 a:nth-child(1) {
  top: 25vh;
  left: 15vw;
}

.aos-animate #section-3 a:nth-child(2) {
  top: 85vh;
  left: 20vw;
}

.aos-animate #section-3 a:nth-child(3) {
  left: 55vw;
  top: 40vh;
}

.aos-animate #section-3 a:nth-child(4) {
  top: 100vh;
  left: 80vw;
}

.aos-animate #section-3 a:nth-child(5) {
  top: 50vh;
  left: 20vw;
}

.aos-animate #section-3 a:nth-child(6) {
  left: 10vw;
  top: 35vh;
}

.aos-animate #section-3 a:nth-child(7) {
  left: 80vw;
  top: 70vh;
}

.aos-animate #section-3 a:nth-child(8) {
  left: 70vw;
  top: 50vh;
}

.aos-animate #section-3 a:nth-child(9) {
  left: 50vw;
  top: 100vh;
}

.aos-animate #section-3 a:nth-child(10) {
  left: 40vw;
  top: 30vh;
}

.aos-animate #section-3 a:nth-child(11) {
  left: 50vw;
  top: 90vh;
}

.aos-animate #section-3 a:nth-child(12) {
  left: 30vw;
  top: 100vh;
}

.aos-animate #section-3 a:nth-child(13) {
  left: 20vw;
  top: 110vh;
}

.aos-animate #section-3 a:nth-child(14) {
  left: 80vw;
  top: 110vh;
}

.aos-animate #section-3 a:nth-child(15) {
  left: 90vw;
  top: 50vh;
}

.aos-animate #section-3 a:nth-child(16) {
  left: 70vw;
  top: 40vh;
}

.aos-animate #section-3 a:nth-child(17) {
  left: 60vw;
  top: 30vh;
}

.aos-animate #section-3 a:nth-child(18) {
  left: 90vw;
  top: 20vh;
}

@keyframes animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animation2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
#section-4 {
  background: white;
  background-image: linear-gradient(#f2f2f2 0.1em, transparent 0.1em), linear-gradient(90deg, #f2f2f2 0.1em, transparent 0.1em);
  background-size: 3em 3em;
  color: #000;
}
#section-4 .wp-block-columns {
  display: flex;
}
#section-4 .wp-block-columns div {
  width: auto;
  margin: 0 10px 10px 10px;
}
#section-4 .signal {
  opacity: 0;
}

#section-5 {
  background-color: #f2f2f2;
}
#section-5 h2 {
  margin-top: 48px;
}
#section-5 h4 {
  max-width: 900px;
  margin-top: 64px;
  width: 100%;
}
#section-5 p {
  width: 100%;
  max-width: 900px;
  margin: 0;
  opacity: 0;
  margin-left: 50vw;
}
#section-5 a {
  text-decoration: none;
  color: #000;
  margin: 10px 0;
  display: block;
  font-size: 48px;
  text-align: left;
  border-bottom: 1px solid #000;
  transition: all 0.4s ease;
  width: 900px;
  max-width: 100%;
}

.aos-animate#section-5 p, .aos-animate#section-7 h3, .aos-animate#tech-section-7 h3, .aos-animate#philanthropy-section-7 h3 {
  animation-name: move-left;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes move-left {
  0% {
    margin-left: 50vw;
    opacity: 0;
    width: 900px;
  }
  100% {
    margin-left: 0;
    opacity: 1;
    width: 100%;
  }
}
.aos-animate#section-5 p:nth-child(1) {
  animation-delay: 0.2s;
}

.aos-animate#section-7 :nth-child(1) h3 {
  animation-delay: 0.2s;
}

.aos-animate#tech-section-7 :nth-child(1) h3 {
  animation-delay: 0.2s;
}

.aos-animate#philanthropy-section-7 :nth-child(1) h3 {
  animation-delay: 0.2s;
}

.aos-animate#section-5 p:nth-child(2) {
  animation-delay: 0.4s;
}

.aos-animate#section-7 :nth-child(2) h3 {
  animation-delay: 0.4s;
}

.aos-animate#tech-section-7 :nth-child(2) h3 {
  animation-delay: 0.4s;
}

.aos-animate#philanthropy-section-7 :nth-child(2) h3 {
  animation-delay: 0.4s;
}

.aos-animate#section-5 p:nth-child(3) {
  animation-delay: 0.6s;
}

.aos-animate#section-7 :nth-child(3) h3 {
  animation-delay: 0.6s;
}

.aos-animate#tech-section-7 :nth-child(3) h3 {
  animation-delay: 0.6s;
}

.aos-animate#philanthropy-section-7 :nth-child(3) h3 {
  animation-delay: 0.6s;
}

.aos-animate#section-5 p:nth-child(4) {
  animation-delay: 0.8s;
}

.aos-animate#section-7 :nth-child(4) h3 {
  animation-delay: 0.8s;
}

.aos-animate#tech-section-7 :nth-child(4) h3 {
  animation-delay: 0.8s;
}

.aos-animate#philanthropy-section-7 :nth-child(4) h3 {
  animation-delay: 0.8s;
}

.aos-animate#section-5 p:nth-child(5) {
  animation-delay: 1s;
}

.aos-animate#section-7 :nth-child(5) h3 {
  animation-delay: 1s;
}

.aos-animate#tech-section-7 :nth-child(5) h3 {
  animation-delay: 1s;
}

.aos-animate#philanthropy-section-7 :nth-child(5) h3 {
  animation-delay: 1s;
}

.aos-animate#section-5 p:nth-child(6) {
  animation-delay: 1.2s;
}

.aos-animate#section-7 :nth-child(6) h3 {
  animation-delay: 1.2s;
}

.aos-animate#tech-section-7 :nth-child(6) h3 {
  animation-delay: 1.2s;
}

.aos-animate#philanthropy-section-7 :nth-child(6) h3 {
  animation-delay: 1.2s;
}

.aos-animate#section-5 p:nth-child(7) {
  animation-delay: 1.4s;
}

.aos-animate#section-7 :nth-child(7) h3 {
  animation-delay: 1.4s;
}

.aos-animate#tech-section-7 :nth-child(7) h3 {
  animation-delay: 1.4s;
}

.aos-animate#philanthropy-section-7 :nth-child(7) h3 {
  animation-delay: 1.4s;
}

.aos-animate#section-5 p:nth-child(8) {
  animation-delay: 1.6s;
}

.aos-animate#section-7 :nth-child(8) h3 {
  animation-delay: 1.6s;
}

.aos-animate#tech-section-7 :nth-child(8) h3 {
  animation-delay: 1.6s;
}

.aos-animate#philanthropy-section-7 :nth-child(8) h3 {
  animation-delay: 1.6s;
}

.aos-animate#section-5 p:nth-child(9) {
  animation-delay: 1.8s;
}

.aos-animate#section-7 :nth-child(9) h3 {
  animation-delay: 1.8s;
}

.aos-animate#tech-section-7 :nth-child(9) h3 {
  animation-delay: 1.8s;
}

.aos-animate#philanthropy-section-7 :nth-child(9) h3 {
  animation-delay: 1.8s;
}

.aos-animate#section-5 p:nth-child(10) {
  animation-delay: 2s;
}

.aos-animate#section-7 :nth-child(10) h3 {
  animation-delay: 2s;
}

.aos-animate#tech-section-7 :nth-child(10) h3 {
  animation-delay: 2s;
}

.aos-animate#philanthropy-section-7 :nth-child(10) h3 {
  animation-delay: 2s;
}

.aos-animate#section-5 p:nth-child(11) {
  animation-delay: 2.2s;
}

.aos-animate#section-7 :nth-child(11) h3 {
  animation-delay: 2.2s;
}

.aos-animate#tech-section-7 :nth-child(11) h3 {
  animation-delay: 2.2s;
}

.aos-animate#philanthropy-section-7 :nth-child(11) h3 {
  animation-delay: 2.2s;
}

.aos-animate#section-5 p:nth-child(12) {
  animation-delay: 2.4s;
}

.aos-animate#section-7 :nth-child(12) h3 {
  animation-delay: 2.4s;
}

.aos-animate#tech-section-7 :nth-child(12) h3 {
  animation-delay: 2.4s;
}

.aos-animate#philanthropy-section-7 :nth-child(12) h3 {
  animation-delay: 2.4s;
}

.aos-animate#section-5 p:nth-child(13) {
  animation-delay: 2.6s;
}

.aos-animate#section-7 :nth-child(13) h3 {
  animation-delay: 2.6s;
}

.aos-animate#tech-section-7 :nth-child(13) h3 {
  animation-delay: 2.6s;
}

.aos-animate#philanthropy-section-7 :nth-child(13) h3 {
  animation-delay: 2.6s;
}

.aos-animate#section-5 p:nth-child(14) {
  animation-delay: 2.8s;
}

.aos-animate#section-7 :nth-child(14) h3 {
  animation-delay: 2.8s;
}

.aos-animate#tech-section-7 :nth-child(14) h3 {
  animation-delay: 2.8s;
}

.aos-animate#philanthropy-section-7 :nth-child(14) h3 {
  animation-delay: 2.8s;
}

.aos-animate#section-5 p:nth-child(15) {
  animation-delay: 3s;
}

.aos-animate#section-7 :nth-child(15) h3 {
  animation-delay: 3s;
}

.aos-animate#tech-section-7 :nth-child(15) h3 {
  animation-delay: 3s;
}

.aos-animate#philanthropy-section-7 :nth-child(15) h3 {
  animation-delay: 3s;
}

.aos-animate#section-5 p:nth-child(16) {
  animation-delay: 3.2s;
}

.aos-animate#section-7 :nth-child(16) h3 {
  animation-delay: 3.2s;
}

.aos-animate#tech-section-7 :nth-child(16) h3 {
  animation-delay: 3.2s;
}

.aos-animate#philanthropy-section-7 :nth-child(16) h3 {
  animation-delay: 3.2s;
}

.aos-animate#section-5 p:nth-child(17) {
  animation-delay: 3.4s;
}

.aos-animate#section-7 :nth-child(17) h3 {
  animation-delay: 3.4s;
}

.aos-animate#tech-section-7 :nth-child(17) h3 {
  animation-delay: 3.4s;
}

.aos-animate#philanthropy-section-7 :nth-child(17) h3 {
  animation-delay: 3.4s;
}

.aos-animate#section-5 p:nth-child(18) {
  animation-delay: 3.6s;
}

.aos-animate#section-7 :nth-child(18) h3 {
  animation-delay: 3.6s;
}

.aos-animate#tech-section-7 :nth-child(18) h3 {
  animation-delay: 3.6s;
}

.aos-animate#philanthropy-section-7 :nth-child(18) h3 {
  animation-delay: 3.6s;
}

.aos-animate#section-5 p:nth-child(19) {
  animation-delay: 3.8s;
}

.aos-animate#section-7 :nth-child(19) h3 {
  animation-delay: 3.8s;
}

.aos-animate#tech-section-7 :nth-child(19) h3 {
  animation-delay: 3.8s;
}

.aos-animate#philanthropy-section-7 :nth-child(19) h3 {
  animation-delay: 3.8s;
}

.aos-animate#section-5 p:nth-child(20) {
  animation-delay: 4s;
}

.aos-animate#section-7 :nth-child(20) h3 {
  animation-delay: 4s;
}

.aos-animate#tech-section-7 :nth-child(20) h3 {
  animation-delay: 4s;
}

.aos-animate#philanthropy-section-7 :nth-child(20) h3 {
  animation-delay: 4s;
}

#philanthropy-section-6 h4 {
  transform: scale(0);
  position: fixed;
  right: 2vw;
  bottom: 10vh;
  width: -moz-fit-content;
  width: fit-content;
}
#philanthropy-section-6 h4 a {
  text-decoration: none;
  color: #000;
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  background-color: #15B3C3;
}
#philanthropy-section-6 h4 a:hover {
  transform: scale(3);
  font-size: 8px;
}

#section-6, #tech-section-6 {
  height: 100vh;
  background: white;
  background-image: linear-gradient(#f2f2f2 0.1em, transparent 0.1em), linear-gradient(90deg, #f2f2f2 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}
#section-6 h2, #tech-section-6 h2 {
  padding-bottom: 48px;
  width: 100%;
  max-width: 900px;
  text-align: left;
  transform: scale(0);
}
#section-6 p, #tech-section-6 p {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 900px;
  margin: 24px 0;
  text-align: left;
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
}
#section-6 :nth-child(2), #tech-section-6 :nth-child(2) {
  transform: scale(0);
}
#section-6 :nth-child(3), #tech-section-6 :nth-child(3) {
  transform: scale(0);
}
#section-6 h4, #tech-section-6 h4 {
  transform: scale(0);
  position: fixed;
  right: 2vw;
  bottom: 0;
  width: -moz-fit-content;
  width: fit-content;
}
#section-6 h4 a, #tech-section-6 h4 a {
  text-decoration: none;
  color: #000;
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  background-color: #15B3C3;
}
#section-6 h4 a:hover, #tech-section-6 h4 a:hover {
  transform: scale(3);
  font-size: 8px;
}

.aos-animate#section-6 :nth-child(2), .aos-animate#section-6 h2, .aos-animate#tech-section-6 :nth-child(2), .aos-animate#tech-section-6 h2, .aos-animate #philanthropy-section-6 :nth-child(2), .aos-animate #philanthropy-section-6 h2 {
  transform: scale(0);
  animation-name: msg1;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.aos-animate#section-6 :nth-child(3), .aos-animate#tech-section-6 :nth-child(3), .aos-animate #philanthropy-section-6 :nth-child(3) {
  transform: scale(0);
  animation-name: msg1;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.aos-animate#section-6 h4, .aos-animate#tech-section-6 h4, .aos-animate #philanthropy-section-6 h4 {
  transform: scale(1);
}

#section-7, #tech-section-7, #philanthropy-section-7 {
  background-color: #f2f2f2;
  padding: 15vh 0;
}
#section-7 h2, #tech-section-7 h2, #philanthropy-section-7 h2 {
  margin-bottom: 48px;
  margin-top: 48px;
}
#section-7 p, #tech-section-7 p, #philanthropy-section-7 p {
  margin: 0;
  line-height: 1.4;
}
#section-7 p em, #section-7 figure, #tech-section-7 p em, #tech-section-7 figure, #philanthropy-section-7 p em, #philanthropy-section-7 figure {
  display: block;
  height: 0;
  font-style: normal;
  transition: height 0.4s ease;
  overflow-y: hidden;
}
#section-7 .driver, #tech-section-7 .driver, #philanthropy-section-7 .driver {
  position: relative;
  width: 70%;
  max-width: 900px;
}
#section-7 .driver .wp-block-columns, #tech-section-7 .driver .wp-block-columns, #philanthropy-section-7 .driver .wp-block-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#section-7 .driver .wp-block-columns .wp-block-column, #tech-section-7 .driver .wp-block-columns .wp-block-column, #philanthropy-section-7 .driver .wp-block-columns .wp-block-column {
  width: 100%;
}
#section-7 .driver .wp-block-columns .wp-block-column p em, #tech-section-7 .driver .wp-block-columns .wp-block-column p em, #philanthropy-section-7 .driver .wp-block-columns .wp-block-column p em {
  width: 100%;
}
#section-7 .driver .wp-block-columns figure, #tech-section-7 .driver .wp-block-columns figure, #philanthropy-section-7 .driver .wp-block-columns figure {
  position: absolute;
  right: 0;
  bottom: 314px;
  transform: scale(1.4);
  transform-origin: right bottom;
}
#section-7 .driver .wp-block-columns figure img, #tech-section-7 .driver .wp-block-columns figure img, #philanthropy-section-7 .driver .wp-block-columns figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#section-7 .driver:hover p em, #section-7 .driver:hover figure, #tech-section-7 .driver:hover p em, #tech-section-7 .driver:hover figure, #philanthropy-section-7 .driver:hover p em, #philanthropy-section-7 .driver:hover figure {
  height: 300px;
  overflow-y: scroll;
  padding: 10px 0 20px 0;
}
#section-7 .driver:hover h3:after, #tech-section-7 .driver:hover h3:after, #philanthropy-section-7 .driver:hover h3:after {
  transform: translateY(-50%) rotate(90deg);
}
#section-7 h3, #tech-section-7 h3, #philanthropy-section-7 h3 {
  cursor: pointer;
  text-align: left;
  width: 100%;
  max-width: 900px;
  margin: 14px 0;
  border-bottom: 1px solid #000;
  line-height: 1.1;
  margin-left: 50vw;
  opacity: 0;
  font-weight: 300;
  padding-right: 50px;
  display: block;
  position: relative;
  font-weight: 300;
}
#section-7 h3 strong, #tech-section-7 h3 strong, #philanthropy-section-7 h3 strong {
  font-weight: 300;
}
#section-7 h3:after, #tech-section-7 h3:after, #philanthropy-section-7 h3:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(./images/arrow-down.svg);
  background-size: contain;
  right: 0;
  top: calc(50% - 14px);
  transform: translateY(-50%);
  transition: all 0.4s ease;
}

#section-8, #tech-section-8, #philanthropy-section-8 {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  -webkit-overflow-scrolling: touch;
  background: white;
  background-image: linear-gradient(#f2f2f2 0.1em, transparent 0.1em), linear-gradient(90deg, #f2f2f2 0.1em, transparent 0.1em);
  background-size: 3em 3em;
}
#section-8 h2, #tech-section-8 h2, #philanthropy-section-8 h2 {
  position: sticky;
  left: 24px;
  top: 50px;
  white-space: nowrap;
}
#section-8 .signal, #tech-section-8 .signal, #philanthropy-section-8 .signal {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  margin: 24px;
  background-color: #fff;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-top: 500px;
}
#section-8 .signal div:nth-child(1), #tech-section-8 .signal div:nth-child(1), #philanthropy-section-8 .signal div:nth-child(1) {
  width: 100%;
  max-width: 500px;
}
#section-8 .signal div:nth-child(2), #tech-section-8 .signal div:nth-child(2), #philanthropy-section-8 .signal div:nth-child(2) {
  width: auto;
  max-width: 500px;
}

.aos-animate#section-4 .signal {
  animation-name: move-up2;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes move-up2 {
  0% {
    margin-top: 200px;
    opacity: 0;
  }
  100% {
    margin-top: 14px;
    opacity: 1;
  }
}
.aos-animate#section-8 .signal, .aos-animate#tech-section-8 .signal, .aos-animate#philanthropy-section-8 .signal {
  animation-name: move-up;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes move-up {
  0% {
    margin-top: 500px;
  }
  100% {
    margin-top: 200px;
  }
}
.aos-animate#section-8 .signal:nth-child(1) {
  animation-delay: 0.2s;
}

.aos-animate#tech-section-8 .signal:nth-child(1) {
  animation-delay: 0.2s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(1) {
  animation-delay: 0.2s;
}

.aos-animate#section-8 .signal:nth-child(2) {
  animation-delay: 0.4s;
}

.aos-animate#tech-section-8 .signal:nth-child(2) {
  animation-delay: 0.4s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(2) {
  animation-delay: 0.4s;
}

.aos-animate#section-8 .signal:nth-child(3) {
  animation-delay: 0.6s;
}

.aos-animate#tech-section-8 .signal:nth-child(3) {
  animation-delay: 0.6s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(3) {
  animation-delay: 0.6s;
}

.aos-animate#section-8 .signal:nth-child(4) {
  animation-delay: 0.8s;
}

.aos-animate#tech-section-8 .signal:nth-child(4) {
  animation-delay: 0.8s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(4) {
  animation-delay: 0.8s;
}

.aos-animate#section-8 .signal:nth-child(5) {
  animation-delay: 1s;
}

.aos-animate#tech-section-8 .signal:nth-child(5) {
  animation-delay: 1s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(5) {
  animation-delay: 1s;
}

.aos-animate#section-8 .signal:nth-child(6) {
  animation-delay: 1.2s;
}

.aos-animate#tech-section-8 .signal:nth-child(6) {
  animation-delay: 1.2s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(6) {
  animation-delay: 1.2s;
}

.aos-animate#section-8 .signal:nth-child(7) {
  animation-delay: 1.4s;
}

.aos-animate#tech-section-8 .signal:nth-child(7) {
  animation-delay: 1.4s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(7) {
  animation-delay: 1.4s;
}

.aos-animate#section-8 .signal:nth-child(8) {
  animation-delay: 1.6s;
}

.aos-animate#tech-section-8 .signal:nth-child(8) {
  animation-delay: 1.6s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(8) {
  animation-delay: 1.6s;
}

.aos-animate#section-8 .signal:nth-child(9) {
  animation-delay: 1.8s;
}

.aos-animate#tech-section-8 .signal:nth-child(9) {
  animation-delay: 1.8s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(9) {
  animation-delay: 1.8s;
}

.aos-animate#section-8 .signal:nth-child(10) {
  animation-delay: 2s;
}

.aos-animate#tech-section-8 .signal:nth-child(10) {
  animation-delay: 2s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(10) {
  animation-delay: 2s;
}

.aos-animate#section-8 .signal:nth-child(11) {
  animation-delay: 2.2s;
}

.aos-animate#tech-section-8 .signal:nth-child(11) {
  animation-delay: 2.2s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(11) {
  animation-delay: 2.2s;
}

.aos-animate#section-8 .signal:nth-child(12) {
  animation-delay: 2.4s;
}

.aos-animate#tech-section-8 .signal:nth-child(12) {
  animation-delay: 2.4s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(12) {
  animation-delay: 2.4s;
}

.aos-animate#section-8 .signal:nth-child(13) {
  animation-delay: 2.6s;
}

.aos-animate#tech-section-8 .signal:nth-child(13) {
  animation-delay: 2.6s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(13) {
  animation-delay: 2.6s;
}

.aos-animate#section-8 .signal:nth-child(14) {
  animation-delay: 2.8s;
}

.aos-animate#tech-section-8 .signal:nth-child(14) {
  animation-delay: 2.8s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(14) {
  animation-delay: 2.8s;
}

.aos-animate#section-8 .signal:nth-child(15) {
  animation-delay: 3s;
}

.aos-animate#tech-section-8 .signal:nth-child(15) {
  animation-delay: 3s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(15) {
  animation-delay: 3s;
}

.aos-animate#section-8 .signal:nth-child(16) {
  animation-delay: 3.2s;
}

.aos-animate#tech-section-8 .signal:nth-child(16) {
  animation-delay: 3.2s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(16) {
  animation-delay: 3.2s;
}

.aos-animate#section-8 .signal:nth-child(17) {
  animation-delay: 3.4s;
}

.aos-animate#tech-section-8 .signal:nth-child(17) {
  animation-delay: 3.4s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(17) {
  animation-delay: 3.4s;
}

.aos-animate#section-8 .signal:nth-child(18) {
  animation-delay: 3.6s;
}

.aos-animate#tech-section-8 .signal:nth-child(18) {
  animation-delay: 3.6s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(18) {
  animation-delay: 3.6s;
}

.aos-animate#section-8 .signal:nth-child(19) {
  animation-delay: 3.8s;
}

.aos-animate#tech-section-8 .signal:nth-child(19) {
  animation-delay: 3.8s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(19) {
  animation-delay: 3.8s;
}

.aos-animate#section-8 .signal:nth-child(20) {
  animation-delay: 4s;
}

.aos-animate#tech-section-8 .signal:nth-child(20) {
  animation-delay: 4s;
}

.aos-animate#philanthropy-section-8 .signal:nth-child(20) {
  animation-delay: 4s;
}

.next {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 30vh;
}
.next h2 {
  text-align: right;
  margin-right: 100px;
}
.next h2 a:after {
  content: "";
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #15B3C3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  z-index: -1;
  transition: all 0.4s ease;
}
.next h2 a:hover:after {
  transform: translateY(-50%) scale(4);
}

.next-prev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
}
.next-prev .next-item {
  text-align: right;
  margin-right: 100px;
}
.next-prev .next-item a {
  display: flex;
  align-items: center;
}
.next-prev .next-item a img {
  height: 35px;
  margin-left: 25px;
  margin-right: -75px;
}
.next-prev .next-item:after {
  content: "";
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #15B3C3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  z-index: -1;
  transition: all 0.4s ease;
}
.next-prev .prev-item {
  text-align: left;
  margin-left: 100px;
}
.next-prev .prev-item a {
  display: flex;
  align-items: center;
}
.next-prev .prev-item a img {
  height: 35px;
  margin-left: -75px;
  margin-right: 25px;
}
.next-prev .prev-item:before {
  content: "";
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #15B3C3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: all 0.4s ease;
  left: 14px;
}
.next-prev h2 {
  text-align: right;
  margin-right: 100px;
}
.next-prev h2:hover:after {
  transform: translateY(-50%) scale(4);
}
.next-prev h2:hover:before {
  transform: translateY(-50%) scale(4);
}

@media only screen and (max-width: 600px) {
  .menu {
    padding: 14px 0;
  }
  .menu div {
    display: none;
  }
  .menu .logo {
    height: 30px;
  }
  .menu .logo img {
    height: 30px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
  .section {
    padding: 48px 10px;
  }
  .hero {
    height: 100vh;
  }
  .hero img {
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero #section-1 p:last-child {
    bottom: 10vh;
  }
  #section-4 .wp-block-columns {
    flex-direction: column;
  }
  #section-4 .wp-block-columns div {
    margin-left: 0;
    margin-right: 0;
  }
  .signal {
    padding: 14px 14px;
  }
  .signal p {
    max-height: 300px;
    overflow-y: scroll;
  }
  .signal div h3 {
    width: calc(100% - 50px);
  }
  .icon {
    width: 40px;
    height: 40px;
  }
  #section-5 {
    min-height: auto;
  }
  #section-5 a {
    font-size: 30px;
  }
  #section-6, #tech-section-6, #philanthropy-section-6 {
    justify-content: start;
  }
  #section-6 h4, #tech-section-6 h4, #philanthropy-section-6 h4 {
    margin: 10px 0;
  }
  #section-6 h4 a, #tech-section-6 h4 a, #philanthropy-section-6 h4 a {
    width: 120px;
    height: 120px;
  }
  #section-7 .driver, #tech-section-7 .driver, #philanthropy-section-7 .driver {
    width: 95%;
  }
  #section-8, #tech-section-8, #philanthropy-section-8 {
    width: 100vw;
  }
  #tech-section-6 h2 {
    padding-top: 24px;
  }
  .aos-animate#section-8 .signal, .aos-animate#tech-section-8 .signal, .aos-animate#philanthropy-section-8 .signal {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
  }
  .next-prev {
    flex-wrap: wrap;
  }
  .next-prev .prev-item {
    position: relative;
  }
  .next-prev .prev-item:before {
    margin-left: -100px;
  }
  .next-prev .next-item {
    position: relative;
    margin-top: 24px;
  }
  .hero #philanthropy-section-6 {
    top: 50px;
  }
}/*# sourceMappingURL=style.css.map */