@font-face {
  font-family: "Azo";
  src: url("./AzoSans-Medium.woff2") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Azo";
  src: url("./AzoSans-Regular.woff2") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Graphik";
  src: url("./GraphikXCond-Bold.otf") format("opentype");
}

$blue: #15B3C3;
$white: #fff;
$grey: #E6E8E3;
$black: #000;

.menu{
  width: 100vw;
  left: 0;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    height: 50px;
    margin: 14px;
  }
  div{
    display: flex;
    width: auto;
    margin-right: 14px;
    p{
      width: fit-content;
      margin: 14px 14px;
      font-size: 18px;
    }
  }
}

body{
  margin: 0;
  padding: 0;
  font-family: "Azo";
  background-color: $white;
  color: $black;
  font-weight: 300;
}

h1{
  text-transform: uppercase;
  font-size: 64px;
  margin: 0;
  font-family: "Graphik";
  max-width: 900px;
  line-height: 1.1;
  max-width: 95%;
}

h2{
  text-transform: uppercase;
  font-size: 64px;
  margin: 0 auto;
  font-family: "Graphik";
  max-width: 900px;
  line-height: 1;
  display: block;
}

h3{
  font-family: "Azo";
  font-size: 48px;
  line-height: 1;
  font-weight: 500;
}

h4{
  font-size: 18px;
  max-width: 95%;
  width: 900px;
  text-align: left;
  font-weight: 300;
  line-height: 1.4;
}

p{
  font-size: 24px;
  max-width: 95%;
  width: 900px;
  font-weight: 100;
}

a{
  text-decoration: none;
  color: $black;
}

figure{
  padding: 0;
  margin: 0;
}

.wp-block-image{
  img{
    width: 100%;
    height: auto;
  }
}

.signal{
  border: 1px solid $black;
  text-align: left;
  padding: 24px 24px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 90vw;
  max-width: 1200px;
  margin: 24px auto 48px auto;
  div{
    &:nth-child(1){
      width: 49%;
      figure{
        height: 100%;
        object-fit: cover;
        img{
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    &:nth-child(2){
      width: 49%;
    }
    p{
      // display: none;
      margin-top: 14px;
      font-size: 18px;
    }
    h3{
      border-bottom: 1px solid $black;
      padding-bottom: 14px;
      margin: 0;
    }
  }
}

.section{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.hero-sequence {
  height: 800vh;
  width: 100%;
}

.hero-sequence2, .hero-sequence3 {
  height: 500vh;
}

.hero-sequence4 {
  height: 200vh;
}

.sticky-element {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sequence-element {
  // width: 600px;
  // height: 600px;
  max-width: 100%;
  max-height: 100%;
}

canvas{
  max-width: 100%;
  max-height: 100%;
}

.hero{
  img{
    width: auto;
    max-width: 100%;
    position: absolute;
    height: 80vh;
    object-fit: contain;
    margin: auto;
    margin-top: 15vh;
    text-align: center;
  }
  #section-1{
    position: absolute;
    top: 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
      margin: 0;
      margin-top: 14px;
      background-color: $white;
      &:last-child{
        background-color: $white;
        width: fit-content;
        padding: 5px 20px;
        border-radius: 25px;
        position: fixed;
        bottom: 10vh;
        transform: scale(0);
      }
    }
  }

}


.aos-animate #section-1 p:last-child{
  animation-name: msg1;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}




@keyframes msg1 {
  0% {
    margin-top: 50vh;
    transform: scale(0);
  }
  100% {
    margin-top: 0;
    transform: scale(1);
  }
}

@keyframes msg2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.section2{
  background-color: $grey;
  height: 100vh;
  justify-content: start;
  padding-top: 30vh;
  &:before{
    content: '';
    background: url(./images/hero-wave.svg);
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: -5px;
    z-index: 999;
    -webkit-transform: scale(-1);
    transform: scale(-1);
  }
  &:after{
    content: '';
    background: url(./images/hero-wave.svg);
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    bottom: -5px;
    z-index: 999;
  }
}

#section-2{
  p{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  h2{
    text-align: center;
  }
  p:nth-child(2){
    width: 900px;
    display: block;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  a{
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    // aspect-ratio: 1/1;
    border-radius: 50px;
    text-decoration: none;
    margin: 14px;
    // border-radius: 50%;
    // border: 1px solid $blue;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    background-color: white;
    transform: scale(0);
    white-space: nowrap;
    // word-break: break-word;
    // width: 20px;
    // height: 20px;
  }
}


.aos-animate #section-2 {
  a {
    // animation-name: animation;
    // animation-iteration-count: 1;
    // animation-duration: 1s;
    // animation-fill-mode: forwards;
  }
  h3{
    transform: scale(1);
    animation-delay: 6s;
    animation-name: animation2;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-align: center;
    width: 100%;
  }
}

@for $i from 1 through 20 {
  $randomNumber: random(50);
  $randomNumber2: random(50);
  .aos-animate #section-2 a:nth-child(#{$i}) {
      animation-name: scale;
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: #{$i * 0.2}s;
      // transform: scale(1) rotate(#{$randomNumber / $i}deg) ;
      // transform: scale(1);
      left: #{$randomNumber * 1.5}vw;
      top: #{$randomNumber2 * 2 + 5}vh;
      // font-size: #{$randomNumber2 * 0.5 + 14}px;
      // margin-left: #{$randomNumber2 * -10 }px;
  }
  @keyframes scale {
    0% {
      transform: scale(0) rotate(0) ;
    }
    100% {
      transform: scale(1);
    }
  }
  
}





  



#section-3{
  position: absolute;
  top: 50vh;
  margin-top: 40px;
  display: none;
  p{
    width: 100%;
  }
  a{
    padding: 24px;
    display: inline-block;
    width: fit-content;
    border-radius: 25px;
    text-decoration: none;
    color: $black;
    margin: 14px;
    transform: scale(0);
  }
}

// .aos-animate #section-3 {
//   a {
//     animation-name: animation;
//     animation-iteration-count: 1;
//     animation-duration: 1s;
//     animation-fill-mode: forwards;
//   }
//   h3{
//     transform: scale(0);
//     animation-delay: 6s, 12s;
//     animation-name: animation;
//     animation-iteration-count: 1;
//     animation-duration: 1s;
//     animation-fill-mode: forwards;
//     text-align: center;
//     width: 100%;
//   }
// }

@for $i from 1 through 20 {
  #section-3 a:nth-child(#{$i}) {
      animation-delay: #{$i * 0.3 + 6}s, 12s;
  }
}


@keyframes animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes animation2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#section-4{
  background-color: white;
  color: $black;
}


#section-5{
  background-color: $grey;
  h2{
    margin-top: 48px;
  }
  h4{
    max-width: 900px;
    margin-top: 64px;
  }
  p{
    width: 100%;
    max-width: 900px;
  }
  a{
    text-decoration: none;
    color: $black;
    margin: 24px;
    display: block;
    font-size: 48px;
    text-align: left;
    border-bottom: 1px solid $black;

    transition: all 0.4s ease;
    // color: white;
  
  }
}

#section-6{
  height: 100vh;
  h2{
    position: absolute;
    top: 10vh;
    width: 100%;
    max-width: 900px;
    text-align: left;
  }
  p{
    width: fit-content;
    max-width: 900px;
    margin: 24px 0;
    text-align: left;
    padding-bottom: 24px;
    border-bottom: 1px solid $black;
  }
  :nth-child(2){
    transform: scale(0);
  }
  :nth-child(3){
    transform: scale(0);
  }
  h4{
    transform: scale(0);
    position: fixed;
    right: 2vw;
    bottom: 10vh;
    width: fit-content;
    a{
      text-decoration: none;
      color: $black;
      width: 200px;
      height: 200px;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease;
      background-color: $blue;
      &:hover{
        transform: scale(3);
        font-size: 8px;
      }
    }
  }
}

.aos-animate#section-6{
  :nth-child(2){
    transform: scale(0);
    animation-name: msg1;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  :nth-child(3){
    transform: scale(0);
    animation-name: msg1;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  h4{
    transform: scale(1);
  }
}

#section-7{
  background-color: $grey;
  h2{
    margin-bottom: 48px;
  }
  p{
    margin: 0;
  }
  p em{
    display: none;
  }
  h3{
    text-align: left;
    width: 100%;
    max-width: 900px;
    margin: 14px 0;
    border-bottom: 1px solid $black;
    line-height: 1.1;
    a{
      font-weight: 300;
      max-width: calc(100% - 50px);
      display: block;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-image: url(./images/arrow.svg);
        background-size: contain;
        right: -50px;
        top: calc(50% - 14px);
        transform: translateY(-50%);
        transition: all 0.4s ease;
      }
      &:hover{
        &:after{
          right: -100px;
        }
      }
      strong{
        font-weight: 300;
      }
    }
  }
}

#section-8{
  overflow-x: scroll;
  // overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  -webkit-overflow-scrolling: touch;
  h2{
    position: sticky;
    left: 40%;
    top: 50px;
    white-space: nowrap;
  }
  .signal{
    // width: 500px;
    // max-width: 500px;
    width: fit-content;
    margin: 24px;
    margin-top: 200px;
    // position: absolute;
    background-color: $white;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    div:nth-child(1){
      width: 100%;
      max-width: 500px;
    }
    div:nth-child(2){
      width: auto;
      max-width: 500px;
    }
  }
}

.next{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 30vh;
  h2{
    text-align: right;
    margin-right: 100px;
    a{
      &:after{
        content: "";
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: $blue;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10px;
        z-index: -1;
        transition: all 0.4s ease;
      }
      &:hover{
        &:after{
          transform: translateY(-50%) scale(4);
        }
      }
    }
  }
}

.next-prev{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  .next-item{
    text-align: right;
    margin-right: 100px;
    &:after{
      content: "";
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: $blue;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
      z-index: -1;
      transition: all 0.4s ease;
    }
  }
  .prev-item{
    text-align: left;
    margin-left: 100px;
    &:before{
      content: "";
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: $blue;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      transition: all 0.4s ease;
      left: 14px;
    }
  }
  h2{
    text-align: right;
    margin-right: 100px;
    &:hover{
      &:after{
        transform: translateY(-50%) scale(4);
      }
      &:before{
        transform: translateY(-50%) scale(4);
      }
    }
  }
}